/*font links*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/*common css start*/
body{
    margin:0;
    font-family: "Playfair Display", serif; 
    font-size: 16px ;
    font-weight:400 ;
    color: #626262 ;
}
/*common css end*/

/*header start*/
header{
   padding: 30px 0; 
   /*border:1px solid;*/
} 

.container{
    overflow:hidden;
	margin:0 auto; 
	width:90%;
	/*border:1px solid;*/
}

.logo{
    margin-top: 10px;
    float:left;
    width:12%;
    /*border:1px solid;*/
}

.w100{
    width:100%;
}

.menu{
    float:right;
    width:65%;
    /*border:1px solid;*/
}

.menu ul{
    float: right;
    list-style: none;
}

.menu ul li{
    float: left;
}

.menu ul li a{
    display: inline-block;
    margin: 0px 50px;
    color: #626262;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition:.33s linear;
}


.menu ul li:last-child a{
    padding-right:0;
}

.menu ul li a:hover{
    border-bottom: 1px solid;
    color:#000000;
    /*border-bottom: 1px solid;*/
}
/*header end*/

/*banner start*/
.banner{}
.b_img{}
.b_img img{}
/*banner end*/

/* getaway start*/
.getaway{
    padding: 100px 0 30px;
}

.container2{
    margin:0 auto;
    width:70%;
    /*border:1px solid;*/
}

.g_content{}
.light{
    font-family: "ubuntu", sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}
.title{
    margin: 15px 0 25px;
    font-size: 30px;
    font-weight: 400;
}
.text{
    margin: 0;
    line-height: 24px;
}
.g_link{
    margin-top: 50px;
    display: block; 
    color: #626262;
    text-decoration: none;
}
/* getaway end*/
/* blog start*/
.blog{
    padding: 0 0 100px;
}
.blog_c{
    overflow: hidden;
}
.blog_single{
    box-sizing: border-box;
    margin-top: 8px;
    float: left;
    width: 45%;*/

    
}
.blog_single:nth-child(even){
    margin-left: 5%;
}
.blog_img{
    margin-bottom: 20px;
}
.blog_img img{}
/* blog end*/

/*newsletter start */
.newsletter{
    background-color: #f0f0f0;
    padding: 70px 0;
}
.signup{
    text-align: center;
}
.s_h1{
    color: #333333 ;
    margin-top: 0;
    margin-bottom: 70px;
}
.s_form{
    position: relative;
    width: 400px;
    /*border: 5px solid red;*/
    margin: 0 auto;
}
.s_form input{
    font-family: "Playfair Display", serif; 
    font-size: 14px;
    color: #62626262;
    width: 340px;
    height: 45px;
    border: none;
    border-bottom: 1px solid #626262;
    background-color: transparent;
    padding-left: 5px;
    padding-right: 45px;
}
.s_form input:focus{
    outline: 0;
}
.s_form button{
    position: absolute;
    background: transparent;
    border: none;
    cursor: pointer; 
    top: 15px;
    right: 0;
}
.s_form button:focus{
    outline: 0;
}
.s_form button img{}
/* newsletter end*/

/*blog_2 start */
.blog2{}
.load{
    margin: 150px 0 50px;
    text-align: center;
}
.load button{
    width: 165px;
    height: 60px;
    background-color: transparent;
    border: 1px solid #626262;
    font-family: "playfair Display", serif;
    font-size: 20px;
    font-weight: 400;
    color: #626262;
    transition: .33s linear;
}
.load button:hover{
    background-color: #626262;
    color: #fff;
}
/*blog_2 end */


/*position start*/
.position{
    border:4px solid red;
    min-height: 400px;
    position: relative;
}
.box{
    width: 100px;
    height: 100px;
    position: absolute;    
}
.box1{
    background-color: red;
    top: 0;
    left: 0;
}
.box2{
    background-color: green;
    margin: 0 auto; 

}
.box3{
    background-color: black;
    top: 0;
    right: 0;
}
.box4{
    background-color: blue;
    right: 0;
    bottom: 0;

}
.box5{
    background-color: orange;
    left: 0;
    bottom: 0;
}
/*position end */


/* footer start*/
.footer{
    padding: 0px 0;
    /*border: 1px solid;*/
    background-color: #f0f0f0;
    margin: -4%;
}
.container{
    overflow: hidden;
    margin: 0 auto;
    width: 95%;

}
.pages{
    float: left;
    margin: 85px;

}

.pages ul{
    list-style: none;
    margin: auto;
}
.pages ul li{
    float: left;
    padding: 0 10px;
}    
.pages ul li a{
    display: inline-block;
    text-decoration: none;
    color: #626262;
    border-bottom: 1px solid transparent;
    transition: .33s;
}

.pages ul li a:hover{
     border-bottom: 1px solid #000000;
}

.social{
    float: right;
    /*border: 1px solid;*/
}
.social ul{
    float:right; 
    list-style: none;
    margin: 85px;

}
.social ul li{
    float: right;
    padding: 0 5px;

}
.social ul li a{
    display: inline-block;
    padding: 0 10px;
    text-decoration: none;
    color: #626262;

    /*border: 1px solid;*/
}
.social ul li a:hover{
    border-bottom: 1px solid #000000;
}
/* footer end*/

